<div class="row">
    <div class="col-xs-6">
        <div class="list-group">
            <a class="list-group-item" ng-repeat="car in data.carList" ng-class="{active: car.name == data.selecetedCar.name}" ng-click="methods.selectCar(car)">
            {{car.name}}
            </a>
        </div>
    </div>
    <div class="col-xs-6" ng-if="data.selectedCar">

    </div>
</div>
